@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.hero2 {
  height: calc(100vh);
  overflow: hidden;
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  position: relative;

  .wrapper2 {
    max-width: 1166px;
    height: 100%;
    margin: auto;

    @include app.mobile {
      max-height: 100vh;
      max-width: 90vw;
      justify-content: center;
    }

    .textContainer2 {
      width: 50%;
      height: 100%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      @include app.mobile {
        height: 125%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 20px;
        color: c.$SecundaryFont;
        letter-spacing: 2px;
      }

      .titleH1 {
        font-size: 40px;

        @include app.mobile {
          font-size: 20px;
        }
      }

      .titleH3 {
        font-size: 15px;
        justify-items: center;
        font-weight: 200;

        @include app.mobile {
          font-size: 12px;
        }
      }

      .buttons2 {
        padding-top: 15px;
        position: relative;
        z-index: 300;

        @include app.mobile {
          display: flex;
          flex-direction: row;
          width: 80%;
          gap: 10px;
        }

        .button2 {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          padding: 20px;
          border: 1px solid c.$border;
          border-radius: 10px;
          background-color: transparent;
          color: c.$PrimaryFont;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;
          @include app.mobile {
            font-size: 12px;
            width: 100%;
            gap: 10px;
            justify-content: center;
            margin: auto;
          }

          svg {
            width: 24px;
            height: 24px;
            fill: white;
            bottom: 0;
            font-size: 13px;
            transition: transform 0.3s ease;
          }
        }
        .button2:hover {
          svg {
            transform: scale(1.3);
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer2 {
    max-width: 40%;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include app.mobile {
      height: 40%;
      width: 250%;
    }

    img {
      width: 115%;
      height: 100%;
      object-fit: cover;

      @include app.mobile {
        width: 100vw;
        height: max-content;
        object-fit: contain;
        box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.4);
        -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.4);
      }
    }
  }
}
