@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, c.$bgSecundary, c.$bgPrimary, c.$bgSecundary);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    zoom: 0.9;

    @include app.mobile {
      max-height: 100vh;
      max-width: 90vw;
      justify-content: center;
      zoom: 1;
    }

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      @include app.mobile {
        height: 50%;
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 20px;
        color: c.$SecundaryFont;
        letter-spacing: 2px;

        @include app.mobile {
          font-size: 15px;
        }
      }

      h1 {
        font-size: 50px;

        @include app.mobile {
          font-size: 20px;
        }
      }

      h3 {
        justify-items: center;

        @include app.mobile {
          font-size: 15px;
          font-weight: 200;
        }
      }

      .buttons {
        padding-top: 15px;
        position: relative;
        z-index: 300;

        @include app.mobile {
          display: flex;
          flex-direction: row;
          width: 100%;
          gap: 10px;
        }

        .button {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          border: 1px solid c.$border;
          border-radius: 10px;
          background-color: c.$buttom;
          color: c.$border;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;

          @include app.mobile {
            font-size: 12px;
            width: 100%;
            gap: 10px;
            justify-content: center;
            margin: auto;
          }

          svg {
            width: 24px;
            height: 24px;
            fill: c.$border;
            bottom: 0;
            font-size: 13px;
            transition: transform 0.3s ease;
          }
        }
        .button:hover {
          transition: background 0.5s ease, transform 0.2s ease;
          background-color: c.$border;
          border-color: c.$buttom;
          color: c.$buttom;
          svg {
            transform: scale(1.3);
            fill: c.$buttom;
          }
        }
        .button:active {
          box-shadow: inset 1px 1px 4px #a7a7a7, inset -1px -1px 4px #ffffff;
          transform: scale(0.98);
          svg {
            transform: scale(0.9);
            fill: c.$buttom;
          }
        }
      }

      img {
        width: 50px;

        @include app.mobile {
          display: none;
        }
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include app.mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img {
      width: 75%;
      height: 100%;
      object-fit: cover;

      @include app.mobile {
        width: 95%;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 45vh;
    bottom: -120px;
    white-space: nowrap;
    color: c.$ShadowFont;
    width: 50%;
    font-weight: bold;
  }
}
