@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.services {
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  @include app.mobile {
    height: 100%;
    padding: 20px 0;
    justify-content: center;
  }

  .sectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin: auto 100px;

    @include app.mobile {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
    }

    .box {
      position: relative;
      padding: 50px;
      border: 0.5px solid c.$subProyection;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      justify-content: space-between;
      transition: background 0.9s, transform 0.5s;

      @include app.mobile {
        width: 100%;
        border: 0.5px solid c.$subProyection;
        gap: 5px;
        padding: 5px;
      }

      svg {
        margin: auto;
        width: 150px;
        height: 100px;
        fill: c.$DefaultFont;
        margin-bottom: 20px;
        text-align: center;
        transition: background 0.5s, transform 0.5s;

        @include app.mobile {
          flex-shrink: 0;
          width: 60px;
          height: 60px;
        }
      }

      h2 {
        font-size: 20px;
        font-weight: bolder;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
        @include app.mobile {
          font-size: 16px;
          margin-bottom: 1vh;
        }
      }

      p {
        font-weight: 200;
        @include app.mobile {
          display: none;
        }
      }

      .button {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 15px 20px;
        padding: 20px;
        border: 1px solid c.$border;
        border-radius: 10px;
        background-color: c.$buttom;
        transition: transform 0.3s ease;
        color: c.$border;
        margin-right: 20px;
        font-weight: 300;
        cursor: pointer;
        font-size: 14px;
        margin: auto;

        @include app.mobile {
          font-size: 12px;
          background-color: c.$buttom;
          border: 1px solid c.$border;
          border-radius: 5px;
          color: c.$border;
          width: 90%;
          padding: 8px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 10px;
        }

        svg {
          flex-shrink: 0;
          margin: auto;
          width: 24px;
          height: 24px;
          fill: white;
          bottom: 0;
          transition: transform 0.3s ease;

          @include app.mobile {
            width: 16px;
            height: 16px;
          }
        }
      }
      .button:hover {
        color: c.$buttom;
        background-color: c.$border;
        border: 1px solid c.$buttom;
        transition: background 0.5s ease, transform 0.2s ease;
        transform: scale(1.05);
        svg:last-child {
          fill: c.$buttom;
          transform: scale(1.2);
        }
      }
      .button:active {
          box-shadow: inset 1px 1px 4px #a7a7a7, inset -1px -1px 4px #ffffff;
          transform: scale(0.98);
          svg:last-child {
            transform: scale(0.9);
            fill: c.$buttom;
          }
        }
    }

    .box:hover {
      background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
      box-shadow: 4px 4px 0px c.$buttom;
      transition: transform 0.2s, box-shadow 0.2s;
      transform: translateY(-10px);
      svg {
        fill: c.$buttom;
        transition: transform 0.2s, box-shadow 0.2s;
      }
      svg:last-child {
        fill: c.$border;
      }
    }
  }
}
