@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.heroImpl {
  height: calc(100vh);
  overflow: hidden;
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  position: relative;

  .ImplWrapper {
    max-width: 1166px;
    height: 100%;
    margin: auto;

    @include app.mobile {
      max-height: 100vh;
      max-width: 90vw;
      justify-content: center;
    }

    .ImplContainer {
      width: 56%;
      height: 100%;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      @include app.mobile {
        height: 70%;
        width: 100%;
        gap: 2.5rem;
        align-items: center;
        text-align: center;
      }

      .link {
        display: inline-flex;
        align-items: center;
        gap: 1px;
        font-size: 22px;
        color: c.$SecundaryFont;
        transition: transform 0.5s ease;

        @include app.mobile {
          font-size: 20px;
          padding: 12px;
        }

        svg {
          flex-shrink: 0;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          fill: c.$SecundaryFont;
          bottom: 0;
          transition: transform 0.3s ease;
        }
      }
      .link:hover {
        transform: scale(1.05);
        svg {
          transform: scale(1.2);
        }
      }
      .link:active {
          transform: scale(0.98);
          color: c.$buttom;
          svg:last-child {
            transform: scale(0.9);
            fill: c.$buttom;
          }
        }

      .titleH1 {
        font-size: 40px;

        @include app.mobile {
          font-size: 20px;
        }
      }

      .box {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-left: 10px;
        border-left: 5px solid c.$SecundaryFont;

        @include app.mobile {
          gap: 16px;
        }

        .titleH3 {
          font-size: 15px;
          justify-items: center;
          font-weight: 200;

          @include app.mobile {
            font-size: 12px;
          }
        }
      }

      .buttons2 {
        padding-top: 15px;
        position: relative;
        z-index: 300;

        @include app.mobile {
          display: flex;
          flex-direction: row;
          width: 80%;
          gap: 10px;
        }

        .button2 {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          padding: 20px;
          border: 1px solid c.$border;
          border-radius: 10px;
          background-color: transparent;
          color: c.$PrimaryFont;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;

          @include app.mobile {
            font-size: 12px;
            height: 20%;
            width: 50%;
            gap: 10px;
            justify-content: center;
            margin: auto;
          }

          svg {
            width: 24px;
            height: 24px;
            fill: white;
            bottom: 0;
            font-size: 13px;
            transition: transform 0.3s ease;
          }
        }
        .button2:hover {
          svg {
            transform: scale(1.3);
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageComp {
    max-width: 40%;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include app.mobile {
      height: 30%;
      max-width: 100%;
      width: 250%;
      bottom: 0;
      top: unset;
    }

    img {
      width: 115%;
      height: 100%;
      object-fit: cover;

      @include app.mobile {
        bottom: auto;
        width: 100vw;
        object-fit: cover;
        object-position: center;
        box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.4);
        -webkit-box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.4);
      }
    }
  }
}
