@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.heroImpl {
  height: calc(100vh);
  overflow: hidden;
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  position: relative;

  .ImplWrapper {
    max-width: 1166px;
    height: 100%;
    margin: auto;

    .ImplContainer {
      width: 56%;
      height: 100%;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      @include app.mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      .link {
        display: inline-flex;
        align-items: center;
        gap: 1px;
        font-size: 22px;
        color: c.$SecundaryFont;

        svg {
          flex-shrink: 0;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          fill: white;
          bottom: 0;
          transition: transform 0.3s ease;
        }
      }

      .titleH1 {
        font-size: 40px;

        @include app.mobile {
          font-size: 36px;
        }
      }

      .box {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-left: 10px;
        border-left: 5px solid c.$SecundaryFont;
        .titleH3 {
          font-size: 15px;
          justify-items: center;
          font-weight: 200;
        }
      }

      .buttons2 {
        padding-top: 15px;
        position: relative;
        z-index: 300;
        .button2 {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          padding: 20px;
          border: 1px solid c.$border;
          border-radius: 10px;
          background-color: transparent;
          color: c.$PrimaryFont;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;

          svg {
            width: 24px;
            height: 24px;
            fill: white;
            bottom: 0;
            font-size: 13px;
            transition: transform 0.3s ease;
          }
        }
        .button2:hover {
          svg {
            transform: scale(1.3);
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageComp {
    max-width: 40%;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include app.mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img {
      width: 115%;
      height: 100%;
      object-fit: cover;
    }
  }
}
