@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.projection {
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .projectContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include app.mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: c.$subProyection;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid c.$subProyection;

      @include app.mobile {
        width: 300px;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include app.mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include app.mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include app.mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 100;

        @include app.mobile {
          font-size: 26px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    position: relative;
    display: flex;
    max-width: 966px;
    margin: auto;
    justify-content: center;

    @include app.mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      width: 70%;
      height: 99%;
      padding: 50px;
      border: 0.5px solid c.$subProyection;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include app.mobile {
        border: none;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        @include app.mobile {
          display: none;
        }
      }

      .btnContact {
        color: c.$FontBar;
        margin: auto;
        text-align: center;
        width: 80%;
        padding: 10px 20px;
        background-color: c.$btnBg;
        border: none;
        cursor: pointer;

        @include app.mobile {
          background-color: transparent;
          border: 1px solid c.$btnBg;
          border-radius: 5px;
          color: c.$btnBg;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
