@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.projection {
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  zoom: 0.9;

  @include app.mobile {
    justify-content: flex-start;
  }

  .projectContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include app.mobile {
      flex: 0 0 auto;
      height: auto;
      margin-top: 5rem;
      align-self: center;
      text-align: center;
      flex-direction: column;
      padding-bottom: 1rem;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: c.$subProyection;
      text-align: right;

      @include app.mobile {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin: 0;
      }
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid c.$subProyection;

      @include app.mobile {
        width: 300px;
        margin: 10px 0;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include app.mobile {
      flex: 0 0 auto;
      width: 100%;
      gap: 0;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include app.mobile {
        margin: 0;
        flex-direction: column;
        text-align: center;
        gap: 15px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include app.mobile {
          width: 80%;
          height: auto;
          max-height: 80px;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 100;

        @include app.mobile {
          font-size: 26px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    position: relative;
    display: flex;
    max-width: 966px;
    margin: auto;
    justify-content: center;

    @include app.mobile {
      flex: 0;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .box {
      width: 70%;
      height: 99%;
      padding: 50px;
      border: 0.5px solid c.$subProyection;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include app.mobile {
        border: none;
        align-items: center;
        gap: 5px;
        width: 85%;
        font-size: 15px;
        padding: 10px;
        text-align: center;
      }

      p {
        @include app.mobile {
        }
      }

      .btnContact {
        margin: auto;
        text-align: center;
        width: 80%;
        padding: 10px 20px;
        color: c.$border;
        background-color: c.$buttom;
        border: 1px solid c.$border;
        transition: transform 0.3s ease;
        border-radius: 10px;
        z-index: 100;
        cursor: pointer;

        @include app.mobile {
          background-color: c.$buttom;
          border: 1px solid c.$border;
          border-radius: 5px;
          color: c.$border;
          width: 50%;
          padding: 5px;
        }
      }
      .btnContact:hover {
          color: c.$buttom;
          background-color: c.$border;
          border: 1px solid c.$buttom;
          transition: background 0.5s ease, transform 0.2s ease;
          transform: scale(1.05);
        }
        .btnContact:active {
          box-shadow: inset 1px 1px 4px #a7a7a7, inset -1px -1px 4px #ffffff;
          transform: scale(0.98);
        }
    }

    .box:hover {
      background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
      color: black;
      box-shadow: 4px 4px 0px c.$buttom;
      transition: transform 0.2s, box-shadow 0.2s;
      transform: translateY(-10px);
      

      @include app.mobile {
        background: transparent;
        color: c.$subProyection;
      }
    }
  }
}
