.navbar{
    height: 100px;
    display: flex; //Revisar si es correcto, sino eliminar (tapa el logo)
    
    .wrapper{
        min-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between; //Sino se arregla el logo, cambiar por space-around
        height: 100%;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                width: 18px;
                height: 18px; 
            }
        }
    }
}

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
    }
}