@use "../../App.scss" as app;
@use '../Colors.scss' as c;

.navbar {
  height: 100px;
  background: c.$bgSecundary;
   //Revisar si es correcto, sino eliminar (tapa el logo - display: flex)

  .wrapper {
    max-width: 1166px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; //Sino se arregla el logo, cambiar por space-around
    height: 100%;

    @include app.mobile {
        max-width: 100%;
        justify-content: flex-end;
        padding: 20px;
    }

    .logo{
      width: 60px;
      height: 60px;
    }

    span {
      font-weight: bold;

      @include app.mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.course {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    width: 200px;
    height: 200px;
    background-color: white;
  }
}
