//Hero
$bgPrimary: #0c0c1d;
$bgSecundary: #111132;
$SecundaryFont: #663399;
$DefaultFont: #d3d3d3;
$PrimaryFont: #ffffff;
$ShadowFont: #ffffff09;
$border:#ffffff;

//NavBar / SideBar
$bgBar: #fff;
$FontBar: #000000;

//HeroServ /
$btnPrimary: #5adaff;
$btnSecundary: #5468ff;
$btnHover: #3c4fe0;
$btnShadow1: #2d234266;
$btnShadow2: #2d23424d;

//Proyection / Sections
$subProyection: #808080; // Recordar sincronizarlo con boxBG
$btnBg: #ffa500; // Recordar sincronizarlo con la variable Bold

// #84b6f4
// #00477f
// #111e6c;
// $bgSecundary: #c4dafa;