@use "../../App.scss" as app;
@use "../Colors.scss" as c;

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(180deg, c.$bgSecundary, c.$bgPrimary);
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;

  @include app.mobile {
    bottom: unset;
  }

  .row {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .col {
      flex-basis: 25%;
      padding: 10px;

      @include app.mobile {
        flex-basis: 100%;
      }

      .logo {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
      }

      h3 {
        width: fit-content;
        margin-bottom: 40px;
        position: relative;

        .underline {
          width: 100%;
          height: 5px;
          background: #767676;
          border-radius: 3px;
          position: absolute;
          top: 25px;
          left: 0;
          overflow: hidden;

          span {
            width: 15px;
            height: 100%;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: 0;
            left: 10px;
            animation: moving 2s linear infinite;
          }
        }
      }

      .email-id {
        width: fit-content;
        border-bottom: 1px solid #ccc;
        margin: 20px 0;
      }

      ul {
        li {
          list-style: none;
          margin-bottom: 12px;

          a {
            text-decoration: none;
            color: c.$DefaultFont;
          }
        }
      }

      .social-icons {
        .facebook {
          width: 30px;
          height: 30px;
          padding: 5px;
          border-radius: 50%;
          text-align: center;
          line-height: 40px;
          font-size: 20px;
          color: #000;
          background: #fff;
          margin-right: 15px;
          cursor: pointer;
        }
      }
    }
    .col:nth-child(2),
    .col:nth-child(3) {
      flex-basis: 15%;
    }
  }

  .copyright {
    text-align: center;
  }
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
