@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: c.$SecundaryFont;
    font-size: 36px;

    @include app.mobile {
      padding-top: 16%;
      font-size: 20px;
    }

    .progressBar {
      height: 10px;
      background-color: c.$SecundaryFont;
      border: 2px solid #83b6f4;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include app.mobile {
    }

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include app.mobile {
        flex-direction: column;
        height: 75%;
        position: relative;
        background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary, c.$bgPrimary);
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include app.mobile {
          width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          @include app.mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include app.mobile {
          flex: 0 auto;
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 50px;
          color: c.$buttom;

          @include app.mobile {
            font-size: 36px;
          }
        }

        p {
          color: c.$DefaultFont;
          font-size: 20px;

          @include app.mobile {
            font-size: 16px;
          }
        }

        button {
          border: 1px solid c.$border;
          background-color: c.$buttom;
          color: c.$border;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
        }

        button:hover {
          transition: background 0.5s ease, transform 0.2s ease;
          background-color: c.$border;
          border-color: c.$buttom;
          color: c.$buttom;
        }
        button:active {
          box-shadow: inset 1px 1px 4px #a7a7a7, inset -1px -1px 4px #ffffff;
          transform: scale(0.98);
        }
      }
    }
  }
}
