@use '../src/components/Colors.scss' as c;

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: c.$bgPrimary; //para el background de mi tia
    color: c.$DefaultFont;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

@mixin mobile{
    @media (max-width:600px) {
        @content;
    }
}
@mixin tablet{
    @media (max-width:1024px) {
        @content;
    }
}
@mixin desktop{
    @media (max-width:1366px) {
        @content;
    }
}