@use "../../App.scss" as app;
@use "../Colors.scss" as c;

.resultHero {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, c.$bgPrimary, c.$bgSecundary);
  position: relative;

  .wrapper3 {
    max-width: 1166px;
    height: 100%;
    margin: auto;

    .textContainer3 {
      width: 50%;
      height: 100%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      @include app.mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 20px;
        color: c.$SecundaryFont;
      }

      .resultH1 {
        font-size: 40px;

        @include app.mobile {
          font-size: 36px;
        }
      }

      .resultH3 {
        font-size: 18px;
        justify-items: center;
        font-weight: 200;
      }

      .buttons3 {
        padding-top: 15px;
        position: relative;
        z-index: 300;
        .button3 {
          display: inline-flex;
          align-items: center;
          gap: 10px;
          padding: 15px 20px;
          padding: 20px;
          border: 1px solid c.$border;
          border-radius: 10px;
          background-color: transparent;
          color: c.$PrimaryFont;
          margin-right: 20px;
          font-weight: 300;
          cursor: pointer;

          svg {
            width: 24px;
            height: 24px;
            fill: white;
            bottom: 0;
            font-size: 13px;
            transition: transform 0.3s ease;
          }
        }
        .button3:hover {
          svg {
            transform: scale(1.3);
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer3 {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @include app.mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
    }

    img {
      width: 115%;
      height: 100%;
      object-fit: cover;
    }
  }
}
